* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 40px;
    
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2em;
    
}

p {
    margin: 0;
    font-size: 1.2em;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    
}

article {
    margin-bottom: 15px;
}

h3 {
    font-size: 1.2em;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

address {
    font-style: normal;
}
.profile-photo {
    width: 150px; 
    height: 200px; 
    border: 2px solid #333; 
    border-radius: 50%; 
    display: inline-block;
    margin-right: 20px; 
}

.skills table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.skills tr {
    border-bottom: 1px solid #ccc;
    
}

.skill{
    padding: 10px;
    text-align: left;
    width: 30%; 
}

.bar {
    border-color: #333;
    height: 15px;
    border-radius: 15%;
    padding: 5px;
    text-align: left;
    
    
}

.fill {
    background-color: #333; 
    height: 30%;
    border-radius: 5px;
    border-collapse: collapse;
    
}
.fill  p {
    text-align: left;
    margin-left: 105%;
    font-size: 15px;

}
.date {
    font-size: 15px;
    opacity: 60%;
    margin-left: 1%;
   
   

}
.container {
    display: flex; /* Utilise Flexbox pour placer les éléments côte à côte */
    align-items: center; 
}

.linkedin {

    color: #333333;
}

